{% extends "base.html" %}

{% block main_content %}
    <div class="container">
        <h3>Django Quickstart</h3>
        <hr/>
        <table class="table table-bordered table-condensed">
        <thead>
        	<tr>
        		<th>Name</th>
        		<th></th>
        	</tr>
        </thead>
        <tbody>
        	{% for package in packages %}
                <tr>
                    <td>{{package.0}}</td>
                    <td><a class="btn btn-primary" href="{% url package.1 %}"><span class="glyphicon glyphicon-play"></span></a></td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    	
    </div>
{% endblock %}